Tibunit/TibUnitFramework/Examples/SampleProject/SharedResources/Schemas/ErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Assignment3/SharedResources/Schemas/Schema.xsd6"
	 targetNamespace="http://www.tibco.com/schemas/Assignment3/SharedResources/Schemas/Schema.xsd6"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ErrorStatus"/>
				<xs:element ref="ErrorCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorStatus" type="xs:string"/>
	<xs:element name="ErrorCode" type="xs:string"/>
</xs:schema>