Tibunit/TibUnitFramework/Examples/SampleProject/SharedResources/Schemas/SuccessOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Assignment3/SharedResources/Schemas/Schema.xsd7"
	 targetNamespace="http://www.tibco.com/schemas/Assignment3/SharedResources/Schemas/Schema.xsd7"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OperationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StatusCode"/>
				<xs:element ref="StatusMessage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusCode" type="xs:string"/>
	<xs:element name="StatusMessage" type="xs:string"/>
</xs:schema>