Tibunit/TibUnitFramework/Examples/SampleProject/SOAP/concreteBookstore.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1454495465309" xmlns:ns0="http://www.example.com/xsd/books" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1454495465309">
    <wsdl:types>
        <xsd:schema xmlns="http://www.example.com/xsd/books" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/xsd/books" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="BookStoreType">
                <xsd:sequence>
                    <xsd:element ref="ns0:Book" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BookType">
                <xsd:sequence>
                    <xsd:element ref="ns0:Title"/>
                    <xsd:element ref="ns0:Author"/>
                    <xsd:element ref="ns0:Date"/>
                    <xsd:element ref="ns0:ISBN"/>
                    <xsd:element ref="ns0:Publisher"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ISBNType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string"/>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="TitleType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string"/>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:element name="Author" type="xsd:string"/>
            <xsd:element name="Book" type="ns0:BookType"/>
            <xsd:element name="BookStore" type="ns0:BookStoreType"/>
            <xsd:element name="Date" type="xsd:string"/>
            <xsd:element name="ISBN" type="ns0:ISBNType"/>
            <xsd:element name="Publisher" type="xsd:string"/>
            <xsd:element name="Title" type="ns0:TitleType"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="BookService">
        <wsdl:port name="GetBooksByAuthor" binding="tns:GetBooksByAuthorBinding">
            <soap:address location="http://localhost:9696/SOAP/BookService.serviceagent/GetBooksByAuthor"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GetBooksByAuthor">
        <wsdl:operation name="GetBooks">
            <wsdl:input message="tns:GetBooksByAuthor"/>
            <wsdl:output message="tns:GetBooksOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetBooksByAuthorBinding" type="tns:GetBooksByAuthor">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetBooks">
            <soap:operation style="document" soapAction="/SOAP/BookService.serviceagent/GetBooksByAuthorEndpoint1/GetBooks"/>
            <wsdl:input>
                <soap:body use="literal" parts="author"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetBooksByAuthor">
        <wsdl:part name="author" element="ns0:Author"/>
    </wsdl:message>
    <wsdl:message name="GetBooksOut">
        <wsdl:part name="message" element="ns0:BookStore"/>
    </wsdl:message>
</wsdl:definitions>